<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPostTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <div align="center">
                <h:form enctype="multipart/form-data">
                    <h3>Post de la busqueda deseada</h3>
                    <p:dataTable value="#{postController.items}" var="item">
                        <p:column headerText="Post">
                            <h:outputText value="#{item.post}" />
                        </p:column>
                        <p:column headerText="Usuario">
                            <h:outputText value="#{item.useridUser.name}&nbsp;#{item.useridUser.lastname}" />
                        </p:column>
                        <p:column headerText="Fecha">
                            <h:outputText value="#{item.dateHour}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>  
        </ui:define>
    </ui:composition>

</html>
