<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template2.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPostTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div align="center">
                <h:form enctype="multipart/form-data">
                    <p:growl id="messages" showDetail="true" />

                    <p:fileUpload value="#{fileUpload.file}" mode="simple"/>

                    <p:commandButton value="Submit" ajax="false" actionListener="#{fileUpload.upload}"  />
                </h:form>
            </div>  
        </ui:define>
    </ui:composition>

</html>
