<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PostCreateDlg" widgetVar="PostCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePostTitle}">
            <h:form id="PostCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{postController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePostLabel_idPost}" for="idPost" />
                        <p:inputText id="idPost" value="#{postController.selected.idPost}" title="#{bundle.CreatePostTitle_idPost}" required="true" requiredMessage="#{bundle.CreatePostRequiredMessage_idPost}"/>
                        <p:outputLabel value="#{bundle.CreatePostLabel_post}" for="post" />
                        <p:inputTextarea rows="4" cols="30" id="post" value="#{postController.selected.post}" title="#{bundle.CreatePostTitle_post}" required="true" requiredMessage="#{bundle.CreatePostRequiredMessage_post}"/>
                        <p:outputLabel value="#{bundle.CreatePostLabel_dateHour}" for="dateHour" />
                        <p:calendar disabled="true" id="dateHour" pattern="MM/dd/yyyy HH:mm:ss" value="#{postController.selected.dateHour}" title="#{bundle.EditPostTitle_dateHour}" required="true" requiredMessage="#{bundle.EditPostRequiredMessage_dateHour}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreatePostLabel_useridUser}" for="useridUser" />
                        <p:selectOneMenu id="useridUser" value="#{postController.selected.useridUser}" required="true" requiredMessage="#{bundle.EditPostRequiredMessage_useridUser}">
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="useridUserItem"
                                           itemValue="#{useridUserItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{postController.create}" value="#{bundle.Save}" update="display,:PostListForm:datalist,:growl" oncomplete="handleSubmit(args,'PostCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PostCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
