<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template2.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPostTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PostListForm">
                <p:panel header="#{bundle.ListPostTitle}">
                    <p:dataTable id="datalist" value="#{postController.items}" var="item"
                                 selectionMode="single" selection="#{postController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idPost}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton SearchButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton SearchButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPostTitle_idPost}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPost}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPostTitle_post}"/>
                            </f:facet>
                            <h:outputText value="#{item.post}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha de registro"/>
                            </f:facet>
                            <h:outputText value="#{item.dateHour}">
                                <f:convertDateTime pattern="dd/mm/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Usuario"/>
                            </f:facet>
                            <h:outputText value="#{item.useridUser.name}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{postController.prepareCreate}" update=":PostCreateForm" oncomplete="PF('PostCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-zoomin" value="#{bundle.View}" update=":PostViewForm" oncomplete="PF('PostViewDialog').show()" disabled="#{empty postController.selected}"/>
                            <p:commandButton id="SearchButton"   icon="ui-icon-search" value="Buscar" update=":PostSearchForm" oncomplete="PF('PostSearchDialog').show()" disabled="false"/>

                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>
            <ui:include src="Create_1.xhtml"/>
            <ui:include src="View_1.xhtml"/>
            <ui:include src="buscar_1.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
