<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPictureTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PictureListForm">
                <p:panel header="#{bundle.ListPictureTitle}">
                    <p:dataTable id="datalist" value="#{pictureController.items}" var="item"
                                 selectionMode="single" selection="#{pictureController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idPicture}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPictureTitle_idPicture}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPicture}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPictureTitle_urlPicture}"/>
                            </f:facet>
                            <h:outputText value="#{item.urlPicture}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPictureTitle_dateHour}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateHour}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPictureTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Usuario"/>
                            </f:facet>
                            <h:outputText value="#{item.useridUser.name}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{pictureController.prepareCreate}" update=":PictureCreateForm" oncomplete="PF('PictureCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PictureViewForm" oncomplete="PF('PictureViewDialog').show()" disabled="#{empty pictureController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PictureEditForm" oncomplete="PF('PictureEditDialog').show()" disabled="#{empty pictureController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{pictureController.destroy}" update=":growl,datalist" disabled="#{empty pictureController.selected}"/>
                            <p:commandButton id="SearchButton"   icon="ui-icon-search" value="Buscar" update=":PictureSearchForm" oncomplete="PF('PictureSearchDialog').show()" disabled="false"/>

                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
            <ui:include src="buscar.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
